<br/>
<h1>
    About Us
</h1>

<p>Para disputar nossos produtos, o cliente precisa antes se cadastrar em nosso site. Após o cadastro já está automaticamente apto a participar de nossos leilões, visto que, o usuário não ganha lances em bônus de cadastro. A partir daí é só escolher o leilão que deseja participar, e esperar o dia e a hora marcada.</p>




<div class="row">
    <div class="col-lg-6 col-sm-12">
        <p>Nossos cronômetros tem duração de 25 segundos, sendo o vencedor do leilão o último que der o lance antes do cronômetro zerar
            O que são lances e como adquiri - los?</p>

        <p>R: Lances nada mais é, que o número determinado de click que pode ser dado em um leilão. Para cada lance dado, o valor do produto é acrescido de um centavo, e uma unidade é descontada do seu pacote de lances.</p>

        <p>Caso deseje adquirir novos pacote de lances, terá que efetuar o login e escolher o pacote de lances desejado. Após a escolha do pacote você será direcionado ao site do bcash ou paypal, a forma mais rápida e fácil de se fazer pagamento na internet. O pagamento pode ser feito através de Cartão de Crédito, Transferência Online ou Boleto Bancário. Após o recebimento da confirmação do pagamento, em poucas horas os lances estarão disponíveis.
        </p>
    </div>
    <div class="col-lg-6">
        <embed width="100%" height="100%" name="plugin" id="plugin" src="files/about.pdf" type="application/pdf" internalinstanceid="3">
    </div>
</div>

<br/>


