<h1 class="text-center">Enter the user name to see password</h1>
<form>
    <div class="form-group">
        <label>Usuario:</label>
        <input type="text" name="name" class="form-control" ng-model="usuario.nome">
    </div>
    <div class="form-group">
        <label ng-show="usuario.senha != 'Undefined'" >Senha: <b>{{usuario.senha}}</b></label>
        <label ng-show="usuario.senha == 'Undefined'" style="color: #d02332">User not found!</label>
    </div>
    <a class="btn btn-primary" href="/login">Back</a>
</form>



